* {
    font-family: "Open Sans", sans-serif;
}

*.noPadding {
    padding: 0;
}

*.noMargins {
    margin: 0;
}

.backgroundImage {
    position: absolute;
    width: 100%;
    height: auto;
    pointer-events: none;
}

.defaultDiv {
    padding: 3% 5%;
    box-shadow: 3px 5px 10px 5px grey;
}

.imageDiv {
    position: absolute;
    top: 15%;
    left: 7%;
    padding: 0;
}

.right {
    right: 4%;
    float: right;
}

.left {
    left: 4%;
    float: left;
}

.formDiv {
    top: 15%;
    left: 13%;
    padding: 4% 6%;
    border-radius: 5%;
    box-shadow: 3px 5px 10px 5px grey;
    animation-name: example;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.topDiv {
    margin-top: 7%;
}

@keyframes example {
    0% {
        left: -30%;
        top: 15%;
    }
    75% {
        left: 14%;
        top: 15%;
    }
    100% {
        left: 13%;
        top: 15%;
    }
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-top: 5%;
    box-shadow: 5px 5px 2px grey;
}

.button:hover {
    background-color: #DF5329;
}

.button:active {
    background-color: #FC5725;
    box-shadow: 0 0 2px grey;
    transform: translateY(4px);
}

.descriptionBox {
    max-width: 45%;
    border-radius: 5em;
}

.pictureBox {
    max-width: 45%;
    border-radius: 5em;
}

.bigBox {
    max-width: 90%;
    border-radius: 5em;
}

.pictureBox {
    width: 512px;
    height: 512px;
}

.row{
    margin: 2% 0;
    padding: 0;
}