* {
    font-family: "Open Sans", sans-serif;
}

*.noPadding {
    padding: 0;
}

*.noMargins {
    margin: 0;
}

.backgroundImage {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.banner {
    height: 1024px;
}

.defaultDiv {
    background-image: url("../../resources/images/formBlack.png");
    background-size: cover;
    color: white;
    padding: 3% 5%;
    box-shadow: 3px 5px 10px 5px grey;
}

.defaultImageDiv {
    max-width: 512px;
    max-height: 512px;
    box-shadow: 3px 5px 10px 5px grey;
}

.imageDiv {
    position: absolute;
    top: 15%;
    left: 7%;
    padding: 0;
}

.right {
    right: 4%;
    float: right;
}

.left {
    left: 4%;
    float: left;
}

.formDiv {
    background-image: url("../../resources/images/formBlack.png");
    background-size: cover;
    left: 13%;
    padding: 4% 6%;
    border-radius: 5%;
    box-shadow: 0 0 10px 5px grey;
    animation-name: example;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    color: white;
}

.formDiv > * > label {
    margin: 10% 0;
}

.formDiv > * > .button {
    margin: 15% 0;
}

.topDiv {
    margin-top: 51px;
}

.defaultImage {
    max-width: 512px;
    max-height: 512px;
}

@keyframes example {
    0% {
        left: -30%;
    }
    75% {
        left: 14%;
    }
    100% {
        left: 13%;
    }
}

.button {
    display: inline-block;
    border-radius: 4px;
    /*background-color: #f4511e;*/
    /*background: linear-gradient(to right, white, black, white);*/
    background-image: url("../../resources/images/bb.jpg");
    background-size: cover;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-top: 5%;
    box-shadow: 3px 4px 5px 1px grey;
}

.button:hover {
    background-color: #DF5329;
}

.button:active {
    background-color: #FC5725;
    box-shadow: 0 0 2px grey;
    transform: translateY(4px);
}

.descriptionBox {
    padding: 3% 5%;
    min-height: 768px;
    position: relative;
    text-align: center;
    background-size: cover;
    font-size: medium;
    background-image: url("../../resources/images/welcomeImage.jpg");
    color: white;
}

.welcome2Box {
    background-image: url("../../resources/images/welcome2.jpg");
    color: black;
    height: 100%;
}

.welcome2Box > div {
    margin: 0;
}

.descriptionBox > div {
    margin-top: 10%;
}

.pictureBox {
    max-width: 45%;
    border-radius: 5em;
}

.bigBox {
    max-width: 90%;
    border-radius: 5em;
}

.pictureBox {
    width: 512px;
    height: 512px;
}

.row {
    margin: 2% 0;
    padding: 0;
}

.smallContentBox {
    margin: 0 4%;
    padding: 4% 2%;
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: rgba(38, 48, 38, 0.2);
    border-radius: 5%;
}

.smallContentBox:hover {
    background-color: rgba(38, 48, 38, 0.6);
}

.rounded {
    border-radius: 5%;
}
